*{
    margin:0;
    padding:0;
    font-family: Roboto;
}

:root{
    --primary-color : #00abae;
    --secondary-color: black;
    --thin-font : 100;
    --light-font : 300;
    --regular-font : 400;
    --medium-font : 500;
    --bold-font : 700;
}

/* header nav */

header nav {
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

header nav .nav-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:90%; 
    margin: 0px auto;
    padding: 0.5em;
} 

header nav .nav-div .left-nav h1{
    font-size: clamp(25px , 3vw, 30px);
    font-weight: var(--bold-font);
}

/* The em unit is relative to the font size of its parent element. */
/* The rem unit is relative to the font size of the root element (<html>), not the parent element. */
/* The default font size of the root element (<html>) in most web browsers is typically 16 pixels (px). */

/* The clamp() CSS function clamps a middle value within a range of values between a defined 
minimum bound and a maximum bound. The function takes three parameters: a minimum value, 
a preferred value, and a maximum allowed value. */

header nav .nav-div .left-nav h1 span{
    color: var(--primary-color);
}

header nav .nav-div .right-nav{
    width: 10%;
    display: flex;
    justify-content: space-between;
} 

header nav .nav-div .right-nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: var(--thin-font);
    font-size: clamp(15px , 3vw, 20px);
}
header #about {
    text-align: center;
    margin-top: 90px;
}
header #about h2{
    margin-bottom: 15px;
    font-size: 35px;
}
header #about h2 span{
    color: var(--primary-color);
}
header #about #my-pic {
    width: 10%;
    height: 10%;
    border-radius: 50%;
}
header .my-info p{
    margin: 15px 0;
}
header .my-info #name{
    font-size: clamp(20px , 1.8vw, 30px);
    /* font-size: 1.8vw; */
}
header .my-info #designation {
    font-size: clamp(16px , 1.3vw, 24px);
    /* font-size: 24px; */
}
header #about .icons img{
    width: 3%;
}
header #skills{
    color: var(--primary-color);
}
